// colors
$my-body-bg-color: #ffdeb8;
$my-brown-color: #ac773c;
$my-brown-color-rgb-opacity: rgb(172, 119, 60, 0.25);
$my-light-pink-color: #fde9e2;

// font families
$base_font_family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

// font sizes
$navbar-toggler-font-size: 1.75rem;
$navbar-menu-font-size: 1.375rem;
$navbar-dropdown-item-font-size: 1.25rem;
$body-font-size: 1rem;
